[mysqld]
# There is an issue with CREATE statements being slow on macOS, this fixes it
# skip_sync_frm=OFF

[mysqld]
# Allow bigger packets, our DB dumps are made with 64MB, MySQL default is low (1MB), so just set it to the maximum
max_allowed_packet=1G

innodb_checksum_algorithm=crc32
innodb_flush_neighbors=0

# Tune InnoDB to assume a SSD, not a HDD
innodb_io_capacity=1000
innodb_io_capacity_max=2500

innodb_flush_method=O_DIRECT
innodb_flush_log_at_trx_commit=0

# Tune number of threads (4 is good for a dualcore, 8 for a quadcore)
innodb_write_io_threads=4

# Tune the amount of memory InnoDB is allowed to use
# innodb_buffer_pool_size = 4G
#
# innodb_log_buffer_size = 256M
# innodb_log_file_size = 1G
