"*":
  core:
    audioBeep: false
    destroyEmptyPanes: false
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".bundle"
      ".git"
      "tmp"
      "log"
      ".DS_Store"
      ".capistrano"
      "coverage"
    ]
    telemetryConsent: "no"
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "24dd800a-ca70-bf59-c5ef-9b567968c56c"
  "file-icons":
    coloured: false
  linter:
    ignoredLinterErrors: [
      "rubocop"
    ]
  "merge-conflicts": {}
  minimap:
    displayPluginsControls: false
  "omni-ruler":
    columns: [
      "80"
      "100"
    ]
  "one-dark-ui": {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
